.child {
    background-color: #1c2f4b;
    border: 1px solid #0d1520;


}

.child-next {
    background-color: #38475c;
    border: 1px solid #0d1520;

}


#sidebar {
    width: 70px;
    /*changed to 270px */
    min-width: 70px;
    /*changed to 270px */
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e223e;
    min-height: 100%;
    min-height: 100% !important;
    position: relative;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
    position: relative;
    min-height: 100% !important;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem;
}

#toggle-btn i {
    font-size: 2.2rem;
    color: #fff;
}

#toggle-btn i:hover {
    font-size: 2.2rem;
    color: #08c88e;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.sidebar-logo a:hover {
    color: #08c88e;
}

#sidebar:not(.expand) .sidebar-logo {
    display: none;
}

#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

/* 
#sidebar:not(.expand) a.sidebar-link span:hover {
    display: inline-block !important;

} */

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .35rem 1rem;
    color: #fff;
    /* display: block; */
    font-size: 1.1rem;
    white-space: nowrap;
    text-decoration: none;
    border-left: 3px solid transparent;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.sidebar-link i {
    font-size: 1.8rem;
    margin-right: .75rem;

}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #08c88e;
    color: #08c88e;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 100%;

}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown span {
    display: inline-flex;
    max-height: 15em;
    align-items: center;
    width: 100%;
    opacity: 100%;
}



#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

#sidebar ul {
    padding-left: 0rem !important;
}